@use "./variables" as *;

//EXTRA LINKS STYLING//

.extraLinks {
    background-color: $secondaryColor;
    padding: 5rem 0;

    .wrapper {
        display: flex;
    }

    h3 {
    color: $tertiaryColor;
    padding-top: 0.5rem;
    font-weight: 400;
    }
    
    li {
    width: calc(100% / 3);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    }

    .faIcons {
        color: $quaternaryColor;
        font-size: 2.25rem;
    }
}
