//VARIABLES//

//colors//
$primaryColor: rgb(33, 60, 40);
$secondaryColor: rgb(214, 241, 228);
$tertiaryColor: rgb(17, 101, 0);
$quaternaryColor: rgb(44, 45,44);

//fonts//
$primaryFont: 'Barlow', sans-serif;
$secondaryFont: 'Offside', cursive;