html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-family: "Barlow", sans-serif;
  font-size: 125%;
  color: white;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 90%;
}

h2,
.logo,
button {
  font-family: "Offside", cursive;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 2.25rem;
}

p {
  line-height: 1.5rem;
  letter-spacing: 0.2;
}

button {
  border: none;
  padding: 0.75rem 1.75rem;
  background-color: white;
  color: rgb(17, 101, 0);
  text-transform: uppercase;
  cursor: pointer;
}

img {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
header nav ul {
  display: flex;
  font-weight: 600;
  line-height: 1.5rem;
}
header nav a {
  padding: 0;
  line-height: 1rem;
}
header nav ul a {
  padding: 1rem;
  text-shadow: 5px 5px 5px rgba(14, 17, 14, 0.9);
}
header nav .fa-bars {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

header {
  height: 100vh;
  background-image: url(../assets/headerImage.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.heroContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 1.25rem;
  position: relative;
}
.heroContent ul {
  position: absolute;
  right: -2rem;
}
.heroContent ul li {
  margin-bottom: 0.5rem;
}
.heroContent ul .fa-brands {
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
}

h1 {
  font-size: 3.33rem;
  font-weight: 300;
  letter-spacing: 0.8px;
  width: 45%;
}

.about {
  background-color: rgb(214, 241, 228);
  padding: 4rem 0;
}
.about h2 {
  text-align: center;
  color: rgb(17, 101, 0);
}
.about button {
  background-color: rgb(17, 101, 0);
  color: white;
}

.aboutGallery {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
}
.aboutGallery li {
  width: 31%;
}

.aboutPark {
  display: flex;
}

.imageContainer {
  width: 25%;
}

.textContainer {
  width: 75%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  color: rgb(44, 45, 44);
}
.textContainer p {
  padding: 1rem 0;
}

.gallery {
  background-color: rgb(33, 60, 40);
}
.gallery ul {
  display: flex;
  flex-wrap: wrap;
}
.gallery li {
  width: 50%;
}

.box2 {
  background-image: url(../assets/bobbyAndBellaImg.png);
}

.box3 {
  background-image: url(../assets/marcoImg.png);
}

.box2,
.box3 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.galleryContainer {
  max-width: 600px;
  width: 90%;
  padding: 5.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.galleryContainer p {
  padding: 1.5rem 0;
}

.box1 .galleryContainer {
  margin-left: auto;
  padding-right: 4.5rem;
}

.box4 .galleryContainer {
  margin-right: auto;
  padding-left: 4.5rem;
}

.extraLinks {
  background-color: rgb(214, 241, 228);
  padding: 5rem 0;
}
.extraLinks .wrapper {
  display: flex;
  padding: 0 6rem;
}
.extraLinks h3 {
  color: rgb(17, 101, 0);
  padding-top: 0.5rem;
  font-weight: 400;
}
.extraLinks li {
  width: 33.3333333333%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.extraLinks .faIcons {
  color: rgb(44, 45, 44);
  font-size: 2.25rem;
}

footer {
  background-color: rgb(33, 60, 40);
}
footer .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 6rem 0;
}
footer h3,
footer a {
  font-weight: 300;
  font-size: 1.5rem;
}
footer button {
  background-color: rgb(44, 45, 44);
  color: white;
  padding: 0.75rem 1rem;
}
footer nav,
footer a {
  padding: 0;
}

.subscribe,
.footerContact,
footer nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscribe {
  width: 55%;
}

.subscribeInput {
  width: 100%;
  display: flex;
  padding-top: 1rem;
}

input[type=text] {
  flex: 1;
  font-family: "Barlow", sans-serif;
  padding-left: 2rem;
}

.footerContact li {
  padding-top: 0.25rem;
}

footer nav ul {
  align-items: flex-end;
}

footer p {
  background-color: rgb(44, 45, 44);
  padding: 1rem 0;
  text-align: center;
}

@media (max-width: 940px) {
  h1 {
    font-size: 2.5rem;
    width: 45%;
  }
  h2 {
    font-size: 1.75rem;
  }
  .fa-brands {
    padding-right: 1rem;
  }
  footer .wrapper {
    flex-wrap: wrap;
  }
  .subscribe {
    width: 100%;
    align-items: center;
    padding-bottom: 3rem;
  }
  .subscribe h3 {
    text-align: center;
    padding-bottom: 0.5rem;
  }
  form {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 768px) {
  header {
    height: 75vh;
  }
  header nav ul {
    display: none;
  }
  header nav .fa-bars {
    display: block;
  }
  h1 {
    font-size: 2rem;
  }
  .fa-brands {
    display: none;
  }
  .aboutGallery {
    flex-wrap: wrap;
  }
  .aboutGallery .img1,
  .aboutGallery .img2 {
    width: 47%;
  }
  .aboutGallery .img3 {
    width: 100%;
    padding-top: 3rem;
  }
  .imageContainer {
    display: none;
  }
  .textContainer {
    width: 100%;
    padding: 0;
  }
  button {
    align-self: center;
  }
  .gallery li {
    width: 100%;
  }
  .gallery li h2 {
    align-self: center;
  }
  .gallery .box2,
  .gallery .box3 {
    height: 40vh;
  }
  .box2 {
    order: -1;
  }
  .galleryContainer {
    margin: 0 auto;
  }
  .box1 .galleryContainer {
    padding-right: 0;
  }
  .box4 .galleryContainer {
    padding-left: 0;
  }
  .extraLinks .wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .subscribe {
    align-items: center;
  }
  .subscribeInput {
    flex-direction: column;
  }
  input {
    padding: 0.5rem 0;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 480px) {
  header {
    height: 70vh;
    background-position: left 35% bottom 0%;
  }
  h1 {
    font-size: 1.75rem;
  }
  .about,
  .galleryContainer,
  .extraLinks,
  footer .wrapper {
    padding: 3rem 0;
  }
  .aboutGallery {
    padding: 3rem 0 1.75rem 0;
  }
  input[type=text] {
    padding-left: 0;
  }
  input[type=text]::-moz-placeholder {
    margin: 0;
    text-align: center;
  }
  input[type=text]::placeholder {
    margin: 0;
    text-align: center;
  }
}